.informationboard-container {
  margin: 0 50px;
  min-width: 1200px;
  height: 180px;
}
.informationboard-card {
  width: 90%;
  margin: 15px 0;
  height: 150px;
  transition: all .5s;
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.informationboard-card Col {
  margin-bottom: 10px;
}
.informationboard-card span.title {
  font-size: 28px;
}
.informationboard-card span.number {
  font-size: 24px;
  font-weight: bold;
}
.informationboard-card:hover {
  box-shadow: 0 0 20px #888;
  transform: translateX(10px);
}
