.displayarea-container {
  height: 300px;
  background-color: #333;
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 100%;
  overflow-x: scroll;
}
.displayarea-card {
  width: 200;
  margin-right: 20px;
}
